.themed-buttons-amber {
    background-color: orangered !important;
    color: #fff;
}

body {
    background-color: lightgray !important;
    background-image: url('../img/iwa-sport-bg-image-light-medium.jpg');
}