.themed-buttons-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}

body {
    background-color: lightgray !important;
    background-image: url('../img/iwa-sport-bg-image-light-medium.jpg');
}