
@using Microsoft.AspNetCore.Http
@using Module.CrossCutting.Models.ViewModels.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"].</h2>

<form asp-action="ForgotPassword" asp-controller="Account" method="post" class="form-horizontal" role="form">
    @if (Model.HttpContextAccessor?.HttpContext?.Items["RequestVerificationToken"] != null)
    {
        <input type="hidden" name="__RequestVerificationToken" value="@Model.HttpContextAccessor.HttpContext.Items["RequestVerificationToken"]" />
    }
    <h4>Enter your email.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Email Link</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
