.themed-buttons-red {
    background-color: #F44336 !important;
    color: #fff;
}

body {
    background-color: lightgray !important;
    background: url('../iwa-sport-bg-image-light-medium.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}    

