@using Module.CrossCutting.Models.ViewModels.Operations
@model OperationPagedVm
<tbody>
    @foreach (var item in Model.Operations)
    {
        <tr>
            <td class="font-bold" style="word-wrap: break-word;">
                @item.Operation.Name
            </td>
            <td style="word-wrap: break-word;">
                @item.Operation.Description
            </td>
            <td style="text-align: left; width: 50px; word-wrap: break-word;">
                @if (item.Operation.Active)
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: green" title="Active">check_circle_outline</i>
                }
                else
                {
                    <i class="material-icons align-center" style="cursor: not-allowed; color: darkred" title="Inactive">domain_disabled</i>
                }
            </td>
            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @item.Operation.DateCreated.ToString()
            </td>
            <td style="text-align: left; width: 148px; word-wrap: break-word;">
                @item.Operation.DateModified.ToString()
            </td>
            <td style="text-align: left; width: 190px; word-wrap: break-word;">
                <partial name="Partial/_actionButtonsPartial" model="item" />
            </td>
        </tr>
    }
</tbody>
