@model IdentityProvider.Models.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Log in";
    // Layout = "~/Views/Shared/_LayOutBSB.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Sign In | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>

    <!-- Waves Effect Css -->
    <link href="~/bower_components/Waves/dist/waves.css" rel="stylesheet"/>

    <!-- Animation Css -->
    <link href="~/bower_components/adminbsb-materialdesign/plugins/animate-css/animate.css" rel="stylesheet"/>

    <!-- Custom Css -->
    <link href="~/Content/site.css" rel="stylesheet"/>

    <link href="~/bower_components/adminbsb-materialdesign/css/themes/all-themes.css" rel="stylesheet"/>
    <link href="~/bower_components/adminbsb-materialdesign/css/materialize.css" rel="stylesheet"/>
</head>


<body class="login-page">
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">Material Design<b>MD</b></a>
        <small>Material Design Proof of Concept</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" method="POST" novalidate="novalidate">
                <div class="msg">Sign in to start your session</div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input class="form-control" name="username" placeholder="Username" required="" autofocus="" aria-required="true" type="text">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input class="form-control" name="password" placeholder="Password" required="" aria-required="true" type="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input name="rememberme" id="rememberme" class="filled-in chk-col-pink" type="checkbox">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a href="sign-up.html">Register Now!</a>
                    </div>
                    <div class="col-xs-6 align-right">
                        <a href="forgot-password.html">Forgot Password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Jquery Core Js -->
<script src="~/bower_components/jquery/dist/jquery.js"></script>

<!-- Bootstrap Core Js -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="~/bower_components/Waves/dist/waves.js"></script>

<!-- Validation Plugin Js -->
<script src="../../plugins/jquery-validation/jquery.validate.js"></script>

<!-- Custom Js -->
<script src="~/bower_components/adminbsb-materialdesign/js/admin.js"></script>
<script src="~/bower_components/adminbsb-materialdesign/js/demo.js"></script>
</body>
</html>