@model IdentityProvider.Models.ViewModels.Resources.ResourcePagedVm
<div class="header cool-text">
    <em style="font-size: 2.7em">
        Resources
    </em>
    <em style="font-size: 0.9em">
        <small>Manipulate resources</small>
    </em>
</div>