@using Module.CrossCutting.Models.ViewModels
@model HeaderRightSideActionDropdown

<div class="header">
    <ul class="header-dropdown m-r--5" style="top: 10px !important;">
        <li class="dropdown">
            <!-- Use "data-bs-toggle" and "data-bs-target" for Bootstrap 5 -->
            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <i class="material-icons">more_vert</i>
            </a>

            <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Save current layout</a></li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Restore default layout</a></li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Refresh</a></li>
            </ul>
        </li>
    </ul>
</div>