<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - IdentityProvider.PoC.MVC6</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    @*<link href="~/lib/mdbootstrap/css/mdb.css" rel="stylesheet" />*@
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    @*<link href="~/lib/materialize/css/materialize.css" rel="stylesheet" />*@
    <style>

        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            background-color: #eee;
            border: 0px;
            border-bottom-style: groove;
            border-left-style: hidden;
            border-right-style: hidden;
            border-top-style: hidden;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            outline: none !important;
        }

        .form-control {
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            border: 0px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            outline: none !important;
        }

        *:focus {
            -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            border: 0px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) !important;
            outline: none !important;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IdentityProvider.PoC.MVC6</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - IdentityProvider.PoC.MVC6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@*<script src="~/lib/mdbootstrap/js/mdb.js"></script>*@

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

@*<script src="~/lib/materialize/js/materialize.js"></script>*@


@*<script src="~/js/admin.js"></script>
        <script src="~/js/demo.js"></script>*@
</body>

</html>