@model IdentityProvider.Models.ViewModels.HeaderRightSideActionDropdown

<div class="header">
    <ul class="header-dropdown m-r--5" style="top:10px !important">
        <li class="dropdown">

            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                <i class="material-icons">more_vert</i>
            </a>

            <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Save current layout</a></li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Restore default layout</a></li>
                <li><a href="javascript:void(0);" class="waves-effect waves-block">Refresh</a></li>
            </ul>
        </li>
    </ul>
</div>