@model dynamic

@{
    ViewBag.Title = "title";
}

@{
    Layout = "~/Views/Shared/_LayOutBSB.cshtml";
}

<img src="~/Content/img/thumbs-up.png"/>
<h5>Your database has been successfully seeded with test data.</h5>