@using Module.CrossCutting.Models.ViewModels.Operations
@model OperationPagedVm
<div class="header cool-text">
    <em style="font-size: 2.7em">
        Operations
    </em>
    <em style="font-size: 0.9em">
        <small>Manipulate operations</small>
    </em>
</div>