@{
    ViewBag.Layout = null;
}

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<li class="nav-item active">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <img src="~/img/guest-image.jpg" alt="User" class="avatarCustomSmall" style="margin-bottom: 15px"/>
    </a>

    <ul class="dropdown-menu" style="padding-top: 10px; width: 305px">

        <!-- User image -->
        <li class="user-header">
        </li>

        <!-- Menu Body -->
        <li class="user-body">
            <div class="spinner-block">
                <div class="profile-circle">
                    <img src="~/img/guest-image.jpg" class="avatar-profile" alt="User Image"/>
                    <p style="color: white; padding: 8px;">
                        <b> You are not logged in.</b>
                    </p>
                    <div class="spinner spinner-1">

                    </div>
                </div>
            </div>

            <!-- Other items -->

        </li>

        <!-- Menu Footer-->
        <li class="user-footer box" style="padding: 5px">
            <div style="flex-wrap: nowrap;">

                <div class="pull-left">
                    <a href="@Url.Action("Login", "Account")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">account_circle</i>
                        <span>
                            <strong>Log In</strong>
                        </span>
                    </a>
                </div>

                <div class="pull-right">
                    <a href="@Url.Action("Register", "Account")" class="btn bg-pink m-t-15 waves-effect">
                        <i class="material-icons">create</i>
                        <span>
                            <strong>Register</strong>
                        </span>
                    </a>
                </div>
            </div>
        </li>
    </ul>

</li>

<script>

    var accountAdministrationUrl = "@Url.Action("Index", "AccountAdministration")";

    console.log('accountAdministrationUrl: ' + accountAdministrationUrl);

    $(document).ready(function() {
        $(".dropdown-menu").click(function(event) {

            // event.preventDefault();

            var options = { /*'backdrop': 'static',*/ keyboard: true, focus: true };

            console.log('fetching data from: ' + accountAdministrationUrl);

            //$.ajax({
            //    type: "GET",
            //    url: accountAdministrationUrl,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    success: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html(response);
            //    },
            //    failure: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html("Problem loading your data...");
            //    },
            //    error: function (response) {
            //        $('#mdModal').modal(options);
            //        $('#mdModal').find('.modal-body').html("");
            //        $('#mdModal').modal('show');
            //        $('#mdModal').find('.modal-body').html("Problem loading your data...");
            //    }
            //});
        });
    });
</script>

<style>
    .avatarCustomSmall {
        border: solid 2px #54BE69;
        border-left-color: #D5EDDA;
        border-radius: 50%;
        display: inline-block;
        height: 40px;
        padding: 2px;
        position: relative;
        width: 40px;
    }

    .avatarCustom {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid 4px #54BE69;
        border-left-color: #D5EDDA;
        border-radius: 50%;
        display: inline-block;
        height: 180px;
        padding: 6px;
        position: relative;
        transform: rotate(45deg);
        width: 180px;
    }

    .avatarCustom img {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border-radius: 50%;
        display: block;
        transform: rotate(-45deg);
    }

    .avatarCustom:before, .avatarCustom:after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background: #fff;
        content: '';
        position: absolute;
        transform: rotate(-45deg);
        z-index: -1;
    }

    .avatarCustom:before {
        height: 4px;
        left: 4px;
        margin-top: -2px;
        right: -10px;
        top: 50%;
    }

    .avatarCustom:after {
        bottom: -10px;
        left: 50%;
        margin-left: -2px;
        top: 4px;
        width: 4px;
    }
</style>