@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - IdentityProvider.UI.Web.MVC6</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IdentityProvider.UI.Web.MVC6</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - IdentityProvider.UI.Web.MVC6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>
<html class="chrome">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Material Design</title>

    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!--------------------------
    | Stylesheets here |
    -------------------------->
    <!-- Bootstrap Core Css -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />

    <link href="~/lib/mdi/font/css/materialdesignicons.css" rel="stylesheet" />
 

    <!-- Bootstrap Datepicker  -->
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

    <!-- Datatables Css -->
    <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/select/1.2.7/css/select.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/colreorder/1.5.0/css/colReorder.bootstrap.min.css" />

    <!-- Waves Effect Css -->
    <link href="~/lib/node-waves/dist/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <script src="~/lib/animateCSS/jquery.animatecss.js"></script>

    <!-- font-awesome -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- materialize -->
    <link href="~/lib/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
    <!-- daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Select2 -->
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />


    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    @*<link href="~/css/skins/_all-skins.css" rel="stylesheet" />*@
    <link href="~/css/all-themes.css" rel="stylesheet" />



    <!-- AdminBSB Themes. Recolor buttons (TODO) -->
    <link href="~/css/themed-buttons-amber.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-black.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-blue.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-brown.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-bue-grey.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-cyan.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-deep-orange.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-deep-purple.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-green.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-grey.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-indigo.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-light-blue.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-light-green.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-lime.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-orange.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-pink.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-purple.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-red.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-teal.css" rel="stylesheet" />
    <link href="~/css/themed-buttons-yellow.css" rel="stylesheet" />

    <!-- Custom Css -->
    @*<link href="~/css/site.css" rel="stylesheet" />*@

    <link href="~/css/popover-overrides.css" rel="stylesheet" />
    <link href="~/css/PagedList.css" rel="stylesheet" />
    @*<link href="~/Content/MakeTableResponsive.css" rel="stylesheet" />*@
    <link href="~/css/popover-overrides.css" rel="stylesheet" />
    <link href="~/lib/pretty-checkbox/pretty-checkbox.css" rel="stylesheet" />

    <style>

        .grid {
            position: relative;
        }

        .item-sm {
            display: block;
            position: absolute;
            width: 130px;
            height: 60px;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item {
            display: block;
            position: absolute;
            width: 250px;
            height: 110px;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item-full-width {
            display: block;
            position: absolute;
            width: 99%;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item-half-width {
            display: block;
            position: absolute;
            width: 45%;
            line-height: 25px;
            margin: 10px;
            z-index: 1;
        }

        .item.muuri-item-hidden {
            z-index: 0;
        }

        .item.muuri-item-releasing {
            z-index: 2;
        }

        .item.muuri-item-dragging {
            z-index: 3;
        }

        .item-content {
            position: relative;
            width: 99%;
            height: 99%;
            /*text-align: center;
            background: red;
            font-size: 50px;
            color: white;*/
            /*cursor: pointer;*/
        }

        .handleForDragandDrop {
            position: relative;
            cursor: pointer;
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

        .item.muuri-item-dragging .item-content {
            background: blue;
        }

        .item.muuri-item-releasing .item-content {
            background: blueViolet;
        }

        .item-full-width.muuri-item-dragging .item-content {
            background: blue;
        }

        .item-full-width.muuri-item-releasing .item-content {
            background: blueViolet;
        }

        table {
            table-layout: auto !important;
            border-collapse: collapse !important;
            width: 100% !important;
        }

        .navbar {
            position: fixed !important
        }

        .block-header {
            padding-top: 65px !important;
        }

        .dataTables_processing {
            z-index: 11000 !important;
            padding-top: 1px !important;
        }

        .dataTables_loadingRecords {
            z-index: 11000 !important;
            padding-top: 1px !important;
        }

        .select2-results__option {
            text-align: left !important;
        }

        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #E91E63 !important;
            color: white !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: white !important;
        }

        body, html {
            font-size: 11px !important;
        }
    </style>

  

    <!------------------------------
    | Very important scripts here |
    ------------------------------->
    <!-- Jquery Core -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <!-- DateRangePicker -->
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Moment -->
    <script src="~/lib/moment.js/moment-with-locales.js"></script>

    <!-- Muuri -->
    <script src="https://unpkg.com/web-animations-js@2.3.1/web-animations.min.js"></script>
    <script src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://unpkg.com/muuri@0.7.0/dist/muuri.min.js"></script>

    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/lodash.js/lodash.js"></script>
    <script src="~/lib/node-waves/dist/waves.js"></script>

    <script src="~/lib/select2/js/select2.js"></script>
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <partial name="_AdminBSBPageLoader" />
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <partial name="_AdminBSBSearchBar" />
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <partial name="_AdminBSBTopBar" />
    <!-- #Top Bar -->

    <section>

        <!-- Left Sidebar -->
        <partial name="_AdminBSBLeftSidebar" />
        <!-- #END# Left Sidebar -->

        <div class="overlay">
            <!-- Right Sidebar -->
            <partial name="_AdminBSBRightSidebar" />
            <!-- #END# Right Sidebar -->
        </div>

    </section>

    <div class="clearfix">
        <section class="content" style="margin-top:55px !important">

            @*@Html.Partial("_AdminBSBMain")*@

            <!--------------------------
            | Your Page Content Here |
            -------------------------->

            @RenderBody()

            <div class="modal fade in" id="mdModal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            @*  guess what, this is where you put your ajax fetched content  *@
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn bg-pink waves-effect" data-dismiss="modal">CLOSE</button>*@
                            <button type="button" class="btn bg-pink waves-effect" data-dismiss="modal" data-toggle="tooltip" data-placement="right" title="" data-original-title="Close">
                                <i class="material-icons">close</i>
                                <span>
                                    Close
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--------------------------
    ----| Javascript here  |----
    --------------------------->
    @*@Html.Partial("../Shared/CommonInsertItemPartials/_javascriptSectionBottomPartial")*@
    <!-- Lodash -->
    <script src="~/lib/lodash.js/lodash.js"></script>

    <!-- SWAL -->
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/lib/jQuery-slimScroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/lib/node-waves/dist/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/lib/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    @*<script src="~/wwwroot/lib/raphael/raphael.js"></script>
        <script src="~/wwwroot/lib/morris.js/morris.js"></script>*@

    <!-- ChartJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    @*<script src="~/wwwroot/lib/Flot/jquery.flot.js"></script>
        <script src="~/wwwroot/lib/Flot/jquery.flot.resize.js"></script>
        <script src="~/wwwroot/lib/Flot/jquery.flot.pie.js"></script>
        <script src="~/wwwroot/lib/Flot/jquery.flot.categories.js"></script>
        <script src="~/wwwroot/lib/Flot/jquery.flot.time.js"></script>*@

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/lib/jquery-sparklines/jquery.sparkline.js"></script>

    <!-- Select2 Js -->
    <script src="~/lib/select2/js/select2.js"></script>
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />

    <!-- Bootstrap Datepicker Js -->
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />



    <!-- ========== -->
    <!-- DataTables -->
    <!-- ========== -->

    @*<script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/lib/datatables.net-colreorder-bs4/colReorder.bootstrap4.js"></script>
    <link href="~/lib/datatables.net-colreorder-bs4/colReorder.bootstrap4.css" rel="stylesheet" />
    <script src="~/lib/datatables-responsive/dataTables.responsive.js"></script>*@

    @*<script src="~/wwwroot/lib/datatables/media/js/dataTables.material.js"></script>*@

    @*<script src="https://cdn.datatables.net/keytable/2.4.1/js/dataTables.keyTable.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>*@

    @*<script src="~/wwwroot/lib/datatables-fixedheader/js/dataTables.fixedHeader.js"></script>*@
    @*<script src="~/wwwroot/lib/datatables-fixedheader/js/fixedHeader.bootstrap.js"></script>*@

    @*<script src="~/wwwroot/lib/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/wwwroot/lib/datatables-responsive/js/responsive.dataTables.js"></script>
    <script src="~/wwwroot/lib/datatables-responsive/js/responsive.bootstrap.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>

    <script src="~/wwwroot/lib/jszip/dist/jszip.min.js"></script>

    <script src="~/wwwroot/lib/jpdfmake/build/pdfmake.min.js"></script>
    <script src="~/wwwroot/lib/jpdfmake/build/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.min.js"></script>*@

    <!-- ========== -->
    <!-- ========== -->
    <!-- ========== -->
    <!-- Tooltip popovers Js -->
    @*<script src="~/wwwroot/lib/adminbsb-materialdesign/js/pages/ui/tooltips-popovers.js"></script>*@

    <!-- moment -->
    <script src="~/lib/moment.js/moment-with-locales.js"></script>

    <!-- Custom Js -->
    <!-- Application specific stuff -->
    @*<script src="~/Scripts/CommonCRUDScripts/commonCreate.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonDelete.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonDetails.js"></script>
    <script src="~/Scripts/CommonCRUDScripts/commonEdit.js"></script>*@

    <script src="~/js/Select2/select2Wireup.js"></script>
    @*<script src="~/js/Muuri/muuriWireup.js"></script>*@
    <script src="~/js/admin.js"></script>
    <script src="~/js/demo.js"></script>
    <!-- Boolean checkboxes jQuery override -->
    <script src="~/js/jQueryOverride-boolean-checkboxes.js"></script>
    <!-- Make tables responsive -->
    @*<script src="~/Scripts/makeTableResponsive.js"></script>*@
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script>
        // SWAL message styling
        swal.setDefaults({
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success w-25 mr-05',
            cancelButtonClass: 'btn btn-secondary w-25 ml-05'
        });
    </script>

</body>
</html>

