@model List<IdentityProvider.Repository.EF.Queries.UserRolesResourcesOperations.UserRoleResourcesOperationsResourceOperationDto>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_LayOutBSB.cshtml";
}

<h2>title</h2>
