.themed-buttons-red {
    background-color: brown !important;
    color: #fff;
}
body {
    background-color: lightgray !important;
    background-image: url('../iwa-sport-bg-image-light-medium.jpg');
}