<div class="modal fade in" id="mdModal" @*tabindex="-1" role="dialog" style="display: none;"*@ data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel"></h4>
            </div>
            <div class="modal-body">
                @*  guess what, this is where you put your ajax fetched content  *@
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn bg-pink waves-effect" data-dismiss="modal">CLOSE</button>*@
                <button type="button" class="btn bg-pink waves-effect" data-dismiss="modal" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-original-title="Close">
                    <i class="material-icons">close</i>
                    <span>
                        Close
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>