@using Microsoft.AspNet.Identity

@{
    ViewBag.Layout = null;
}

<li class="dropdown">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { title = "Manage" })
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </li>
            </ul>
        }
    }
    else
    {

    }

    @if (Request.IsAuthenticated)
    {
        <ul class="dropdown-menu">
            <li class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="~/Content/img/guest-image4.png" alt="User" class="avatar" />
            </li>


            <!-- User image -->
            <li class="user-header">
                <img src="~/Content/img/guest-image4.png" class="avatar" alt="User Image" />
                <p>
                    Bruno Bozic - Web Developer
                    <small>Member since Nov. 2012</small>
                </p>
            </li>
            <li role="separator" class="divider"></li>

            <!-- Menu Body -->
            <li class="user-body">
                <div class="col-xs-4 text-center">
                    <a href="#"><i class="material-icons">group</i>Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#"><i class="material-icons">shopping_cart</i>Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#"><i class="material-icons">favorite</i>Friends</a>
                </div>
            </li>

            <li role="separator" class="divider"></li>

            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat"><i class="material-icons">input</i>Sign out</a>
                </div>
            </li>
        </ul>
    }
    else
    {
        @*<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="align-self:center" role="button">
                <img src="~/Content/img/guest-image.jpg" alt="User" class="avatar" style="margin-bottom:15px" />
            </a>*@

        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <img src="~/Content/img/guest-image.jpg" alt="User" class="avatar" style="margin-bottom:15px" />
        </a>

        <ul class="dropdown-menu" style="padding-top: 10px; width: 270px">

            <!-- User image -->
            <li class="user-header">
            </li>

            <!-- Menu Body -->
            <li class="user-body">
                <div class="spinner-block">
                    <div class="profile-circle">
                        <img src="~/Content/img/guest-image.jpg" class="avatar-profile" alt="User Image" />
                        <p style="color: white; padding: 8px;">
                            <b> You are not logged in.</b>
                        </p>
                        <div class="spinner spinner-1">

                        </div>
                    </div>
                </div>
                @*<div class="col-xs-4 text-center">
                        <a href="#"><i class="material-icons">group</i>Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#"><i class="material-icons">shopping_cart</i>Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#"><i class="material-icons">favorite</i>Friends</a>
                </div>*@
            </li>

            <!-- Menu Footer-->
            <li class="user-footer box" style="padding: 5px">
                <div class="pull-left">
                    <a href="@Url.Action("Login", "Account")" class="btn btn-primary m-t-15 waves-effect">
                        <i class="material-icons">account_circle</i>
                        <span>
                            <strong>Log In</strong>
                        </span>
                    </a>
                </div>

                <div class="pull-right">
                    <a href="@Url.Action("Register", "Account")" class="btn btn-primary m-t-15 waves-effect">
                        <i class="material-icons">create</i>
                        <span>
                            <strong>Register</strong>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    }

</li>