@*
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@

@{
    Layout = null;
}
<style>
    /*.sidebar-background {
        background: url('../../Content/img/background-gray1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
    img {
        max-height: 100%;
        max-width: 100%;
    }
</style>

<aside id="leftsidebar" class="sidebar sidebar-background">
    <img src="~/Content/img/android-material-1.jpg">

    <!-- Menu -->
    @Html.Partial("_AdminBsbMenus")
    <!-- #Menu -->

    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2019 - 2020 <a href="javascript:void(0);">Material Design</a>.
        </div>
        <div class="version">
            <b>Version: </b> 4.0.5
        </div>
    </div>
    <!-- #Footer -->

</aside>