@model HandleErrorInfo

@{
    ViewBag.Title = "";   
}
<h1 class="text-danger text-center">
    Aconteceu um erro, contacte ao administrador para mais informação.
</h1>

<h2 class="text-center"></h2>

<script>
    $(document)
        .ready(function () {
            setTimeout(function () {
                MsgErro('@Model.Exception.Message');
            }, 1000);
        });

</script>