@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<section class="content">
    <div class="row">

        <div class="col-md-4">

        </div>

    </div>
</section>

<script>

</script>