@{
    Layout = null;
}
<style>
    img {
        max-height: 100%;
        max-width: 100%;
    }
</style>

<aside id="leftsidebar" class="sidebar sidebar-background">
    <img src="~/img/android-material-1.jpg" />

    <!-- Menu -->
    @Html.Partial("_AdminBsbMenus")
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2015 - 2020 <a href="javascript:void(0);">Reusable LOB app blueprint</a>.
        </div>
        <div class="version">
            <b>Version: </b> 4.0.5
        </div>
    </div>
    <!-- #Footer -->

</aside>